<section id="servicios" class="Servicios">
    <div class="container">
        <h1>SERVICIOS</h1>
        <div class="Servicios-item" data-view="mantenimientoIndustrial">
            <img src="img/servicios/mantenimientoIndustrial.png" alt="mantenimientoIndustrial.png">
            <span>Mantenimiento Industrial</span>
        </div>
        <div class="Servicios-item" data-view="construccion">
            <img src="img/servicios/construccion.png" alt="construccion.png">
            <span>Construcción</span>
        </div>
        <div class="Servicios-item" data-view="albañileria">
            <img src="img/servicios/albañileria.png" alt="albañileria.png">
            <span>Albañileria</span>
        </div>
        <div class="Servicios-item" data-view="acabados">
            <img src="img/servicios/acabados.png" alt="acabados.png">
            <span>Acabados</span>
        </div>
        <div class="Servicios-item" data-view="carpinteria">
            <img src="img/servicios/carpinteria.png" alt="carpinteria.png">
            <span>Carpinteria</span>
        </div>
        <div class="Servicios-item" data-view="herreria">
            <img src="img/servicios/herreria.png" alt="herreria.png">
            <span>Herreria</span>
        </div>
        <div class="Servicios-item" data-view="aireAcondicionado">
            <img src="img/servicios/aireAcondicionado.png" alt="aireAcondicionado.png">
            <span>Aire Acondicionado</span>
        </div>
        <div class="Servicios-item" data-view="plomeria">
            <img src="img/servicios/plomeria.png" alt="plomeria.png">
            <span>Plomeria</span>
        </div>
        <div class="Servicios-item" data-view="electricidad">
            <img src="img/servicios/electricidad.png" alt="electricidad.png">
            <span>Electricidad</span>
        </div>
    </div>
</section>
